<% provide(:title, "Edit User") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label "First Name" %>
      <%= f.text_field :f_name %>
       
      <%= f.label :l_name, "Last Name"%>
      <%= f.text_field :l_name %>

      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>
       
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :address, "Street Address" %>
      <%= f.text_field :address %>

      <%= f.label :city, "City" %>
      <%= f.text_field :city%>

      <%= f.label :state, "State" %>
      <%= f.text_field :state %>

      <%= f.label :zip, "Zip Code" %>
      <%= f.text_field :zip %>

      <br>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>
    </div>
    </div>
