<h1>Edit Adventure</h1>
<p>Update your adventure</p>
  <br>
  <%= form_for @adventure, html: {class: "nifty_form"} do |f| %>
    <%= f.label :name, "Adventure Name" %>
    <%= f.text_field :name %>
    <%= f.label :comments, "Adventure Comments" %>
    <%= f.text_area :comments %>
    <% unless @adventure_types.nil? %>
      <%= f.label :adventure_type_id, "Adventure Type" %>
      <%= f.select(:adventure_type_id, @adventure_types) %>
      or add a new one
    <% end %>
    <%= f.text_field :new_adventure_type %>
    <%= f.submit "Edit" %>
  <% end %>
