<p> This is for Adventure <%= @adventure.id %> </p>
<% @gpx.tracks.first.points.each do |i| %>
  <p>
  <%= @adventure.id %>,<%= i.time %>,<%= i.lat %>,<%= i.lon %>,<%= i.elevation %> 
  </p>
<% end %>
