<% provide(:title, "Show Adventures") %>
<h1>This is the show action</h1>
<%= @user.f_name %>
<p>Adventure Name <%= @adventure.name %> </p>
<p>Adventure Comments <%= @adventure.comments %> </p>
<% if @coords[0].nil? %>

<p>You haven't added any coordinates yet. Upload a gpx file
  <%= render "upload" %>
  </p>
<% else %>
  <div id="map-canvas"></div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCarFkFloIvQnB_gMYoFEZltyDk4K7vQfQ&sensor=false" %>
  <%= javascript_include_tag "adventures" %>
  <p> Here are your coordinates for this trip </p>
  <% @coords.each do |i| %>
    <p> <%= i.lat %> <%= i.lon %> <%= i.elevation %> <%= i.date_time %> </p>
  <% end %>

<% end %>
