<% provide(:title, "Show Adventures") %>
<h1>This is the show action</h1>
<%= @user.f_name %>
<p>Adventure Name <%= @adventure.name %> </p>
<p>Adventure Comments <%= @adventure.comments %> </p>
  <%= link_to "Delete Adventure", { :controller => "adventures", :action => "destroy"}, method:  "delete" %>
<% if @coords[0].nil? %>

<p>You haven't added any coordinates yet. Upload a gpx file
  <%= render "upload" %>
  </p>
<% else %>
  <div id="map-canvas"></div>
  <%= javascript_include_tag "/assets/application" %>
  <%= javascript_include_tag "/assets/adventures" %>
  <%= link_to "Delete Coordinates", { :controller => "adventure_coordinates", :action => "destroy_all_for_adventure"}, method:  "delete" %>

<% end %>
