<h1>Delete Coordinates</h1>
<p>Choose a coordinate as a starting point. You will either delete all coordinates before or after that coordinate. The selected coordinate will not be deleted.
</p>
<div id="adventure-coordinates-wrapper">
  <div id="before-after-choice">
    <%= form_tag({controller: "adventure_coordinates", action: "delete_coords"}, method: "delete") do  %>
    <%= radio_button_tag(:before_or_after, "before") %>
    <%= label_tag(:before_or_after, "Delete Coordinates Before") %>
      &nbsp;    &nbsp;
    <%= radio_button_tag(:before_or_after, "after") %>
    <%= label_tag(:before_or_after, "Delete Coordinates After") %>
  </div>
  <div id="coordinates">
    <% @adventure_coordinates.each do |coord| %>
      <% label_string = "#{coord.lat}, #{coord.lon}, #{coord.date_time}" %>
      <%= radio_button_tag(:adv_id, coord.id) %>
      <%= label_tag(:adv_id, label_string) %>
      <br>
    <% end %>  
    <br>
    <%= submit_tag("Delete") %>
  </div>
  <% end %>
</div>
