<h1>Select the coordinates you want to delete</h1>

<%= form_tag({controller: "adventure_coordinates", action: "delete_coords"}, method: "delete") do  %>
  <%= radio_button_tag(:before_or_after, "before") %>
  <%= label_tag(:before_or_after, "Before") %>
  <br>
  <%= radio_button_tag(:before_or_after, "after") %>
  <%= label_tag(:before_or_after, "After") %>
<% @adventure_coordinates.each do |coord| %>
  <% label_string = "#{coord.lat}, #{coord.lon}, #{coord.date_time}" %>
  <%= radio_button_tag(:adv_id, coord.id) %>
  <%= label_tag(:adv_id, label_string) %>
<% end %>  
<%= submit_tag("Delete") %>
<% end %>
