<!DOCTYPE html>
<html>
<head>
  <title>Outdoor Journal | <%= yield(:title) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCarFkFloIvQnB_gMYoFEZltyDk4K7vQfQ&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
<%= image_tag "banner.png" %>
</div>

<%= yield %>
<%= link_to "Sign out", signout_path, method: "delete" %>
</body>
</html>
